In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv("lead_qualification_history.csv")

In [3]:
data.head(10)

,OutreachAttempts,InitialContact,Title,SpendRatio,DealSize,LeadSource,ExistingCustomer,Region,CampaignMix,OppStatus
0,9,No,Manager,0.47,8700,Internet,No,SE Asia,None,yes
1,8,Yes,Executive,0.35,10300,Internet,No,Europe,Trial,no
2,8,Yes,Executive,0.17,6000,Phone,No,Other,Digital|Traditional|Trial,yes
3,2,No,Manager,0.23,15200,Walkin,Yes,Americas,None,no
4,4,Yes,Other,0.34,8400,Phone,No,Other,Digital|Trial,yes
5,8,Yes,Executive,0.36,8400,Internet,Yes,Australia,None,no
6,9,Yes,Other,0.15,6100,Phone,Yes,Americas,Traditional,yes
7,2,No,Manager,0.60,7600,Internet,Yes,Europe,None,no
8,6,No,Other,0.53,9200,Phone,Yes,Americas,None,yes
9,8,No,Executive,0.22,10500,Internet,No,Australia,None,no

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7331 entries, 0 to 7330
Data columns (total 10 columns):
OutreachAttempts    7331 non-null int64
InitialContact      7331 non-null object
Title               7331 non-null object
SpendRatio          7331 non-null float64
DealSize            7331 non-null int64
LeadSource          7331 non-null object
ExistingCustomer    7331 non-null object
Region              7331 non-null object
CampaignMix         7331 non-null object
OppStatus           7331 non-null object
dtypes: float64(1), int64(2), object(7)
memory usage: 572.8+ KB

In [5]:
data.shape

(7331, 10)

In [6]:
data.describe(include=np.number)

       OutreachAttempts   SpendRatio      DealSize
count       7331.000000  7331.000000   7331.000000
mean           6.085254     0.343975  10617.514664
std            2.301779     0.152250   2950.506491
min            2.000000     0.050000   5000.000000
25%            4.000000     0.210000   8100.000000
50%            6.000000     0.340000  10600.000000
75%            8.000000     0.480000  13200.000000
max           10.000000     0.620000  16000.000000

In [7]:
data.describe(include = np.object)

,InitialContact,Title,LeadSource,ExistingCustomer,Region,CampaignMix,OppStatus
count,7331,7331,7331,7331,7331,7331,7331
unique,2,3,4,2,5,8,2
top,No,Executive,Internet,No,Europe,None,no
freq,3849,2709,2458,3877,1985,3990,4582

In [8]:
X = data.iloc[:, :-1]
X.head()

,OutreachAttempts,InitialContact,Title,SpendRatio,DealSize,LeadSource,ExistingCustomer,Region,CampaignMix
0,9,No,Manager,0.47,8700,Internet,No,SE Asia,None
1,8,Yes,Executive,0.35,10300,Internet,No,Europe,Trial
2,8,Yes,Executive,0.17,6000,Phone,No,Other,Digital|Traditional|Trial
3,2,No,Manager,0.23,15200,Walkin,Yes,Americas,None
4,4,Yes,Other,0.34,8400,Phone,No,Other,Digital|Trial

In [9]:
X.describe(include=np.object).columns

Index(['InitialContact', 'Title', 'LeadSource', 'ExistingCustomer', 'Region',
       'CampaignMix'],
      dtype='object')

In [10]:
X = pd.get_dummies(X, columns=['InitialContact', 'Title', 'LeadSource', 'ExistingCustomer', 'Region',
       'CampaignMix'], dtype='int', drop_first=True)

In [11]:
X.head()

,OutreachAttempts,SpendRatio,DealSize,InitialContact_Yes,Title_Manager,Title_Other,LeadSource_Other,LeadSource_Phone,LeadSource_Walkin,ExistingCustomer_Yes,...,Region_Europe,Region_Other,Region_SE Asia,CampaignMix_Digital|Traditional,CampaignMix_Digital|Traditional|Trial,CampaignMix_Digital|Trial,CampaignMix_None,CampaignMix_Traditional,CampaignMix_Traditional|Trial,CampaignMix_Trial
0,9,0.47,8700,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1,8,0.35,10300,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,8,0.17,6000,1,0,0,0,1,0,0,...,0,1,0,0,1,0,0,0,0,0
3,2,0.23,15200,0,1,0,0,0,1,1,...,0,0,0,0,0,0,1,0,0,0
4,4,0.34,8400,1,0,1,0,1,0,0,...,0,1,0,0,0,1,0,0,0,0

In [12]:
X.shape

(7331, 21)

In [13]:
X.describe()

,OutreachAttempts,SpendRatio,DealSize,InitialContact_Yes,Title_Manager,Title_Other,LeadSource_Other,LeadSource_Phone,LeadSource_Walkin,ExistingCustomer_Yes,...,Region_Europe,Region_Other,Region_SE Asia,CampaignMix_Digital|Traditional,CampaignMix_Digital|Traditional|Trial,CampaignMix_Digital|Trial,CampaignMix_None,CampaignMix_Traditional,CampaignMix_Traditional|Trial,CampaignMix_Trial
count,7331.000000,7331.000000,7331.000000,7331.000000,7331.000000,7331.000000,7331.000000,7331.000000,7331.000000,7331.000000,...,7331.000000,7331.000000,7331.000000,7331.000000,7331.000000,7331.000000,7331.000000,7331.000000,7331.000000,7331.000000
mean,6.085254,0.343975,10617.514664,0.474969,0.361479,0.268995,0.194107,0.271450,0.199154,0.471150,...,0.270768,0.140363,0.154686,0.035875,0.045696,0.103533,0.544264,0.037785,0.094530,0.102578
std,2.301779,0.152250,2950.506491,0.499407,0.480462,0.443467,0.395539,0.444738,0.399392,0.499201,...,0.444387,0.347387,0.361629,0.185991,0.208840,0.304674,0.498071,0.190688,0.292585,0.303428
min,2.000000,0.050000,5000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,0.210000,8100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,6.000000,0.340000,10600.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,8.000000,0.480000,13200.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,10.000000,0.620000,16000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
Y = data.iloc[:, -1]
Y.head()

0    yes
1     no
2    yes
3     no
4    yes
Name: OppStatus, dtype: object

In [15]:
#Encoding dependent variable
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Y = le.fit_transform(Y)

In [16]:
Y

array([1, 0, 1, ..., 0, 0, 0])

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

In [18]:
print('X_train shape: ', X_train.shape )
print('X_test shape: ', X_test.shape )
print('Y_train shape: ', Y_train.shape )
print('Y_test shape: ', Y_test.shape )

X_train shape:  (5864, 21)
X_test shape:  (1467, 21)
Y_train shape:  (5864,)
Y_test shape:  (1467,)

In [19]:
# Feature scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [20]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

Functions to get the base scores for each model

In [21]:
def get_base_prediction(model_dict):
    scores = {}
    for name, model in model_dict.items():
        model = Pipeline(steps=[
                        ('model', model)
        ])
        
        model.fit(X_train, Y_train)
        scores[name] = f'{model.score(X_test, Y_test) * 100}%'
        
    return scores

get_base_prediction({'random_forest': RandomForestClassifier(random_state=0),
                    'logistic_regression': LogisticRegression(random_state=0),
                    'decision_tree': DecisionTreeClassifier(random_state=0)})

{'random_forest': '92.84253578732107%',
 'logistic_regression': '91.61554192229039%',
 'decision_tree': '90.1840490797546%'}